<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Carta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="card">
    <ion-img src="/assets/ham.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Carta</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Pulse en la colección que desee consultar</p>
    </ion-card-content>
  </ion-card>

  <ion-list *ngFor="let collection of collections">
    <ion-item button="true" (click)=getCollectionItems(collection.name)>
      <ion-thumbnail slot="start">
        <img [src]="collection.img">
      </ion-thumbnail>
      <ion-label>
        {{collection.name}}
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
