<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio de Sesión
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Introduzca sus datos</ion-card-title>  
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input #email type="email" placeholder="Email" clearInput></ion-input>
      </ion-item>
      <ion-item>
        <ion-input #password type="password" placeholder="Contraseña" clearInput></ion-input>
      </ion-item>
      <br />
      <ion-button 
        color="dark" 
        expand="block" 
        strong="true" 
        (click)="signIn(email.value, password.value)"
        >
        Acceder
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ng-template [ngIf]="deniedAcces">
    {{errorMessage}}
  </ng-template>
  
</ion-content>
