<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="card">
    <ion-img src="/assets/el-hacebuche.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Panel de Control Mesón Hacebuche</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Pulse en las diferentes secciones para consultar, añadir, modificar o eliminar los elementos que desee</p>
    </ion-card-content>
  </ion-card>

  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Secciones:</ion-label>
    </ion-list-header>
    <div *ngFor="let page of appPages">
      <ion-item [routerDirection]="'root'" [routerLink]="[page.url]">
        <ion-icon slot="start" [name]="page.icon"></ion-icon>
        <ion-label>
          {{page.title}}
        </ion-label>
      </ion-item>
    </div>
  </ion-list>
  
</ion-content>
