<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Salir
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>¿Cerrar sesión?</ion-card-title>  
    </ion-card-header>
    <ion-card-content>
      <ion-button 
        color="dark" 
        expand="block" 
        strong="true" 
        (click)="logOut()"
        >
        Salir
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
